<div class="container mt-4">
  <h1><%= @course.title %></h1>
  <p><%= @course.description %></p>
  <ul>
    <h3>Enrollment</h3>
<%= link_to 'Enrollment', new_course_enrollment_path(@course), class: 'btn btn-primary' %>
  </ul>
  <h2>Lessons</h2>
  <ul>
    <% @course.lessons.each do |lesson| %>
      <li>
        <%= link_to lesson.title, course_lesson_path(@course, lesson) %>
        
        <!-- Only show edit and delete options to the instructor -->
        <% if current_user == @course.instructor %>
          <%= link_to 'Edit', edit_course_lesson_path(@course, lesson), class: 'btn btn-sm btn-warning' %>
          <%= link_to 'Delete', course_lesson_path(@course, lesson), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <h2>Forums</h2>
<%= link_to 'Create Forum', new_course_forum_path(@course), class: 'btn btn-primary' %>
  <ul>
    <% @course.forums.each do |forum| %>
      <li><%= link_to forum.title, course_forum_path(@course, forum) %></li>
    <% end %>
  </ul>

  <!-- Allow instructors to add new lessons -->
  <% if current_user == @course.instructor %>
    <%= link_to 'Add New Lesson', new_course_lesson_path(@course), class: 'btn btn-primary' %>
  <% end %>
</div>
